/* CSS declarations go here */

body{
	font-family:garamond;
	background:#f0f0f0;
	font-size:150%;
}
h1{
	text-align:center;
	color: #66323d;
}
.wrap{
	/*background:#f0f0f0;*/
	width: calc(390px + 160px + 25px);
	margin: 0 auto;
	/*overflow:auto;*/
}
#main{
	float: right;
	width: 390px;
}
#sidebar{
	float: left;
	width: 160px;
}
#userInput{
	width:calc(400px - 28px);
	font-size:130%;
	padding:12px;
	border: 1px solid #f8f8f8;
	background-color:#f8f8f8;
}
#userInput:focus{
	outline:none;
	border: 1px solid #66323d;
}

#VTypeSelector{
	padding:8px;
	border: 1px solid #f8f8f8;
	margin-top: 10px;
	margin-right: 20px;
	background-color:#f8f8f8;
}
select:focus{
	outline:none;
	border: 1px solid #66323d;
}
.menu-wrapper{
	margin-top: 30px;
	/*padding-right: px;*/
	/*border-right: 1px solid black;*/
}
#verbTypesTitle{
	padding-left: 2px;
}
#submit{
	display:block;
	padding:12px;
	padding-left:8px;
	width:90px;
	border: 1px solid black;
	background-color:#66323d;
	color:white;
	margin-top:24px;
	text-align: center;
	cursor: pointer;
}
#notice{
	position: absolute;
	top: 520px;
	bottom: 0px;
	padding-left: 25px;
	/*box-align:center;*/
}

